<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TrabalhoAspNet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TrabalhoAspNet.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="False">Dados</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Autores" asp-action="Index">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Editoras" asp-action="Index">Editoras</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Generos" asp-action="Index">Gêneros</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Livros" asp-action="Index">Livros</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Compras" asp-action="Index">Histórico de Compras</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="False">Filtrar dados</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="FiltrarAutor">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="FiltrarLivro">Livros</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="False">Dados agrupados</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="AgruparLivroAnoEditora">
                            Livros agrupados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="" asp-controller="Consultas" asp-action="AgruparLivroAnoEditoraPivot">
                            Livros agrupados com pivot
                        </a>
                    </li>
                </ul>
            </li>
            <a class="nav-link" asp-area="" asp-controller="Carrinhos" asp-action="Index">Comprar</a>
        </div>
        <div class="partial-login">
            <partial name="_LoginPartial"/>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>