@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filtrar autor</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResultadoFiltrarAutor">
            <div class="form-group">
                <label class="control-label">Informe o nome</label>
                <input type="text" name="Nome" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Filtrar por aniversário</label>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label">Data Inicial</label>
                <input type="date" name="dataInicial" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Data Final</label>
                <input type="date" name="dataFinal" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Informe a nacionalidade</label>
                <input  type="text" name="Nacionalidade" class="form-control " />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}