@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-filter">
    <div class="form-box">
        <h2>Filtrar Livros</h2>
        <form asp-action="ResultadoFiltrarLivro">
            <div class="input-box-filter">
                <label class="label-form-filter">Informe o título</label>
                <input name="Titulo" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Informe o nome do autor</label>
                <input name="Autor" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Informe o nome da editora</label>
                <input name="Editora" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Informe o gênero</label>
                <input name="Genero" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Ano inicial de publicação</label>
                <input type="text" name="anoInicial" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Ano final de publicação</label>
                    <input type="text" name="anoFinal" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Preço inicial</label>
                <input type="text" name="precoInicial" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Preço final</label>
                <input type="text" name="precoFinal" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Estoque inicial</label>
                <input type="text" name="estoqueInicial" class="input-filter"/>
            </div>
            <div class="input-box-filter">
                <label class="label-form-filter">Estoque final</label>
                <input type="text" name="estoqueFinal" class="input-filter"/>
            </div>
            <div>
                <input type="submit" value="Filtrar" class="btn-login"/>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
