@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="form-box">
        <h2>Filtrar autor</h2>
        <form asp-action="ResultadoFiltrarAutor">
            <div class="input-box">
                <label class="label-form">Informe o nome</label>
                <input type="text" name="Nome" class="input"/>
            </div>
            <div class="input-box">
                <label class="label-form">Data Inicial de Aniversário</label>
                <input type="date" name="dataInicial" class="input"/>
            </div>
            <div class="input-box">
                <label class="label-form">Data Final de Aniversário</label>
                <input type="date" name="dataFinal" class="input"/>
            </div>
            <div class="input-box">
                <label class="label-form">Informe a nacionalidade</label>
                <input type="text" name="Nacionalidade" class="input"/>
            </div>
            <div>
                <input type="submit" value="Filtrar" class="btn-login"/>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}