@model TrabalhoASPNet.Models.Livro

@{
ViewData["Title"] = "Create";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-livro">
    <div class="form-box">
        <h2>Adicionar livro</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label asp-for="Titulo" class="label-form"></label>
                <input asp-for="Titulo" class="input"/>
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="AnoPublicacao" class="label-form"></label>
                <input asp-for="AnoPublicacao" type="text" class="input"/>
                <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="AutorId" class="label-form"></label>
                @Html.DropDownListFor(model => model.AutorId, (SelectList)ViewData["AutorId"], "Selecione um autor", new { @class = "input-dropdown" })
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="EditoraId" class="label-form"></label>
                @Html.DropDownListFor(model => model.EditoraId, (SelectList)ViewData["EditoraId"], "Selecione uma editora", new { @class = "input-dropdown" })
                <span asp-validation-for="EditoraId" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="GeneroId" class="label-form"></label>
                @Html.DropDownListFor(model => model.GeneroId, (SelectList)ViewData["GeneroId"], "Selecione um gênero", new { @class = "input-dropdown" })
                <span asp-validation-for="GeneroId" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Preco" class="label-form"></label>
                <input asp-for="Preco" class="input"/>
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="QuantidadeEmEstoque" class="label-form"></label>
                <input asp-for="QuantidadeEmEstoque" type="text" class="input"/>
                <span asp-validation-for="QuantidadeEmEstoque" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn-login"/>
            </div>
        </form>
    </div>
</div>
<div class="return-link">
    <a class="return-button" asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
