@model TrabalhoASPNet.Models.Carrinho

@{
    ViewData["Title"] = "Adicionar ao carrinho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="form-box">
        <form asp-action="Create" method="post">
            <h2 class="details-title">Adicionar ao carrinho</h2>
            <div class="input-box">
                <label asp-for="LivroId" class="label-form"></label>
                @Html.DropDownListFor(model => model.LivroId, (SelectList)ViewData["LivroId"], "Selecione um título", new { @class = "input-dropdown" })
                <span asp-validation-for="LivroId" class="text-danger"></span>
            </div>

            <div class="input-box">
                <label asp-for="Quantidade" class="label-form"></label>
                <input asp-for="Quantidade" type="text" class="input"/>
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="btn-login">Adicionar ao Carrinho</button>
            </div>
        </form>
    </div>
</div>

<div class="return-link">
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}