@model TrabalhoASPNet.Models.Carrinho

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="delete-container">
    <h2 class="details-title">Detalhes</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
    <div class="d-flex justify-content-center align-items-center me-3">
        <a asp-action="Edit" class="return-button" asp-route-id="@Model?.Id">Editar</a> |
        <a asp-action="Index" class="return-button">Voltar à lista</a>
    </div>
</div>

