@model TrabalhoASPNet.Models.Carrinho

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="form-box">
        <h2 class="details-title">Editar item do carrinho</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="input-box">
                <label asp-for="LivroId" class="label-form"></label>
                <select asp-for="LivroId" class="input-dropdown" asp-items="ViewBag.LivroId"></select>
                <span asp-validation-for="LivroId" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Quantidade" class="label-form"></label>
                <input asp-for="Quantidade" type="text" class="input"/>
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn-login"/>
            </div>
        </form>
    </div>
</div>

<div class="return-link">
    <a class="return-button" asp-action="Index">Voltar à lista</a>
</div>

