@model TrabalhoASPNet.Models.Editora

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="form-box">
        <form asp-action="Create">
            <h2 class="details-title">Adicionar editora</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label asp-for="Nome" class="label-form"></label>
                <input asp-for="Nome" class="input"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Endereco" class="label-form"></label>
                <input asp-for="Endereco" class="input"/>
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Telefone" class="label-form"></label>
                <input asp-for="Telefone" class="input"/>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn-login"/>
            </div>
        </form>
    </div>
</div>

<div class="return-link">
    <a asp-action="Index">Voltar à lista</a>
</div>

