@model TrabalhoASPNet.Models.Genero

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="form-box">
        <form asp-action="Create">
            <h2>Adicionar gênero</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label asp-for="Descricao" class="label-form"></label>
                <input asp-for="Descricao" type="text" class="input"/>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn-login"/>
            </div>
        </form>
    </div>
</div>

<div class="return-link">
    <a class="return-button" asp-action="Index">Voltar à lista</a>
</div>

